<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/07b49539-6f25-4848-a773-95cdbc61df8c/resourceGroups/cont-land-cluster/providers/Microsoft.ContainerRegistry/registries/contlandregistry</ContainerResourceId>
    <ContainerResourceName>contlandregistry</ContainerResourceName>
    <Subscription>Microsoft Azure Sponsorship</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>contlandregistry.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ContainerName>fancy-deliveries</ContainerName>
    <EnvironmentName>contl-environment</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://fancy-deliveries.thankfulfield-1e21e495.northeurope.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/07b49539-6f25-4848-a773-95cdbc61df8c/resourceGroups/cont-land-containerapp/providers/Microsoft.App/containerapps/fancy-deliveries</ResourceId>
    <ResourceGroup>cont-land-containerapp</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>AzureContainerAppLinux</_TargetId>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <TargetFramework>net8.0</TargetFramework>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>2e9aa9c0-9f82-4123-a3fd-9d568925e1f8</ProjectGuid>
    <SelfContained>true</SelfContained>
  </PropertyGroup>
</Project>